<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Yelp Rating System</title>
  </head>
  <body style="background-image:url(static/images/background.jpg);background-size:cover;">
    <header>
      <div class="container_12">
        <div class="grid_12">
          <h2 class="logo"><span>Yelp Rating System</span></h2>
          <div>
            <form action="{{ url_for('top_ten_rests') }}" method="POST">
              <br/>
              <input name="zip_code" type="number">Enter zip code.</textarea>
              <br/>
              <input type="submit" placeholder="Search by zip code" value="Enter Zip Code">
            </form>
            <!-- <input type="text" placeholder="Search by zip code">
            <button type="submit"><i class="fa fa-search"></i></button> -->
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
