<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>The Top Ten Restaurants in {{zip_code}}</title>
  </head>
  <body>
  	<h1>Yelp Rating System</h1>
  	<h2>Top 10 restaurants in zip code: {{zip_code}}</h2>
  	<ol>
  	<li><a href= "./Restaurant_1.html"> Restaurant 1</a></li>
  	<br></br>
  	<li><a href= "./Restaurant_2.html"> Restaurant 2</a></li>
  	<br></br>
  	<li><a href= "./Restaurant_3.html"> Restaurant 3</a></li>
  	<br></br>
  	<li><a href= "./Restaurant_4.html"> Restaurant 4</a></li>
  	<br></br>
  	<li><a href= "./Restaurant_5.html"> Restaurant 5</a></li>
  	<br></br>
  	<li><a href= "./Restaurant_6.html"> Restaurant 6</a></li>
  	<br></br>
  	<li><a href= "./Restaurant_7.html"> Restaurant 7</a></li>
  	<br></br>
  	<li><a href= "./Restaurant_8.html"> Restaurant 8</a></li>
  	<br></br>
  	<li><a href= "./Restaurant_9.html"> Restaurant 9</a></li>
  	<br></br>
  	<li><a href= "./Restaurant_10.html"> Restaurant 10</a></li>
  	<br></br>
  	</ol>
  	
  </body>
  	
    
  
</html>
