<!DOCTYPE html>
<html>
  <head>
    <link href="static/css/style2.css" type="text/css" rel="stylesheet">

    <title>The Top Ten Restaurants in {{zip_code}}</title>
  </head>
    
  <body>
  	<h1>Yelp Rating System</h1>
  	<h2>Top 10 restaurants in zip code: {{zip_code}}</h2>
  	<table id="table_rest" class="table">
  		<thead>
  			<tr>
  				<th>Rank</th>
  				<th>Restaurant Name</th>
  				<th>Address</th>
  				<th>Phone</th>
  			</tr>
  		</thead>

  		<tbody>
 			<tr>
 				<td></td> 
 				<td></td>
 				<td></td>
 				<td></td>
 			</tr>
 				
 			<tr>
 				<td></td>
 				<td></td>
 				<td></td>
 				<td></td>
 			</tr>
 			
  		<!--	<tr>			
  				<td><a href="{{ url_for('restaurant', restaurant_info=11355 )}}"> 					Restaurant x</a></td>
  			</tr> 
  		-->
		 
  		</tbody>
  	</table>
  	
	<script>
  	var array = 
  	[
  		["Kiku", "555 5th ave, New York, NY 11355", "212-111-2222"],
  		["Yamoto", "444 6th ave, New York, NY 11355", "212-888-9999"]
  	];
  		var table = document.getElementById("table_rest");
  		
  	for(var i = 1; i <table.rows.length; i++)
  	{
  		for(var j = 0; j< table.rows[i].cells.length; j++)
  		{
  				if(j==0)
  				table.rows[i].cells[j].innerHTML = i;
  				else if(j==1)
  					table.rows[i].cells[j].innerHTML = '<a href= "restaurant.html">' + array[i-1][j] + "</a>";
  				else 
  			table.rows[i].cells[j].innerHTML = array[i - 1][j];
  		}
  	}
  	
  	</script>

  </body>


</html>
